# Env
.env
!sample.env

# Dependency directories
node_modules/
vendor/

# Output directories
dist/
build/

# Go
*.out

# Node
npm-debug.log
yarn-debug.log
yarn-error.log

# Postgres
*.psql
*.pgdump

# Redux
*.log

# TypeScript
*.tsbuildinfo

# npm
.npmrc
.npmignore
package-lock.json
